secrets/*
walls/*
.env
lazy-lock.json

# User bin fakeroot
src/user/bin/fakeroot/*
!src/user/bin/fakeroot/
!src/user/bin/fakeroot/.gitkeep

# Wine-related
src/user/local/share/applications/wine/
src/user/local/share/applications/mimeinfo.cache
src/user/local/share/applications/wine-*
